/* Estilo para o menu toggle */
.menu-togle {
  display: none;
}
@media (max-width: 900px) {
  .logo{
    display:block;
  }
  nav {
    background-color:#333232;
    color: #fff;
    position: fixed;
    top: 0;
    left: -200px; /* Inicialmente escondido fora da tela */
    width: 200px;
    height: 150vh;
    z-index: 100;
    transition: left 0.3s ease; /* Animação suave */
  }

  nav.nav-open {
    left: 0; /* Mostra o nav ao aplicar a classe .nav-open */
    padding-top: 1rem;
  }

  .menu-togle {
    display: block;
    position:absolute;
    top: 0;
    right: 0;
    padding: 30px 0px; /* Ajuste o padding conforme necessário */

  }

  .label-check {
    display: none;
  }

  .hamburger-label {
    width: 30px; /* Ajuste a largura */
    height: 40px; /* Ajuste a altura */
    display: block;
    cursor: pointer;
    position: relative; /* Adiciona position relative para posicionar as linhas */
  }

  .hamburger-label div {
    width: 25px; /* Ajuste a largura das linhas */
    height: 3px; /* Ajuste a altura das linhas */
    background-color: #fff;
    position: absolute;
  }

  .line1 {
    transition: all .3s;
  }

  .line2 {
    margin-top: 10px; /* Ajuste o espaçamento entre as linhas */
    transition: 0.3s;
  }

  .line3 {
    margin-top: 20px; /* Ajuste o espaçamento entre as linhas */
    transition: 0.3s;
  }

  #label-check:checked + .hamburger-label .line1 {
    transform: rotate(35deg) scaleX(.55) translate(20px, -3px);
    border-radius: 50px 50px 50px 0;
  }

  #label-check:checked + .hamburger-label .line3 {
    transform: rotate(-35deg) scaleX(.55) translate(20px, 3px);
    border-radius: 0 50px 50px 50px;
  }

  #label-check:checked + .hamburger-label .line2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 25px;
  }


nav ul li {
  display: flex; /* Utilize flexbox para alinhar ícone e texto verticalmente */
  align-items: center; /* Alinha itens verticalmente */
  padding: 1rem;
  border-bottom: 1px solid #fff;
}

nav ul li {
  display: flex; /* Ajusta para flex para alinhar conteúdo dentro do link */
  align-items: center; /* Alinha itens verticalmente */
  color: #fff; /* Cor do texto */
  text-decoration: none; /* Remove sublinhado dos links */
}

.nav-links li a .material-icons {
  margin-right: 5px; /* Espaçamento entre ícone e texto */
  font-size: 25px; /* Tamanho do ícone */
  align-items: center;
  justify-content: center;
}
}
@media (min-width: 975px) {
  .nav-links {
    display: flex; /* Mostra o menu em telas maiores */
  }
  .menu-togle {
    display: none;
  }
}
